.title{
    &-hint{
        color: var(--hint);
    }
    &-small{
        letter-spacing: 0.5rem;
        font-size: 1.8rem;
        &-hr{
            width: 9.5rem;
            border-bottom: 1px solid var(--text );
            &-2{
                width: 13rem;
                border-bottom: 1px solid var(--text );
                
            }
            &-3{
                width: 6rem;
                border-bottom: 1px solid var(--text );
                
                
            }
            &-4{
                width: 10rem;
                border-bottom: 1px solid var(--text );
            }
            &-5{
                width: 15rem;
                border-bottom: 1px solid var(--text );
            }
           
        }
       

    }

    
}
