:root{
    // --font-family
    font-family: 'Muli', sans-serif;
    // color
    --light: #00c3ff;
    --primary: #2071e7;
    --dark: #2980b9;
    --text: #333;
    --background: #fafafa;
    --hint: #5A5E6B;
    --border: #ddd; 

}